---
import Layout from '@/layouts/Layout.astro';
import PageHdg from '@/components/ui/PageHdg.astro';
import PageFooter from '@/components/ui/PageFooter.astro';

const metaData = {
  title: '',
  description: '',
};

const pageHdgData = {
  title: {
    ja: '',
    en: '',
  },
};

const PageFooterData = {
  description: '管理人の詳細。SNSをフォローしてもらえると喜びます。',
  nav: [
    {
      text: 'ホームに戻る',
      href: '/',
    },
    {
      text: 'セカイを見る',
      href: '/world/',
    },
  ],
};
---

<Layout {...metaData}>
  <main class="p-world">
    <PageHdg {...pageHdgData} />
    <PageFooter {...PageFooterData} />
  </main>
</Layout>
