---
import Layout from '@/layouts/Layout.astro';
import PageHdg from '@/components/ui/PageHdg.astro';
import PageFooter from '@/components/ui/PageFooter.astro';

const metaData = {
  title: 'コンフィグ | Naganoma Rikuのポートフォリオ',
  description: '本サイトの環境設定を変更できます。',
};

const pageHdgData = {
  title: {
    ja: 'コンフィグ',
    en: 'CONFIG',
  },
};

const PageFooterData = {
  description: '本サイトの環境設定を変更できます。',
  nav: [
    {
      text: 'ホームに戻る',
      href: '/',
    },
  ],
};
---

<Layout {...metaData}>
  <main class="p-config">
    <PageHdg {...pageHdgData} />
    <div class="content">
      <dl class="list">
        <div class="item">
          <dt class="title">カラーモード</dt>
          <dd class="info">
            <p class="desc">背景や文字色のカラーモードを設定します。</p>
            <ul class="input-list">
              <li class="radio">
                <ul class="radio-list">
                  <li class="radio-item">
                    <input
                      id="input-color-light"
                      type="radio"
                      name="colormode"
                      value="light"
                      checked
                      class="radio-btn"
                    />
                    <label for="input-color-light" class="radio-label">ライト</label>
                  </li>
                  <li class="radio-item">
                    <input id="input-color-dark" type="radio" name="colormode" value="dark" class="radio-btn" />
                    <label for="input-color-dark" class="radio-label">ダーク</label>
                  </li>
                </ul>
              </li>
            </ul>
          </dd>
        </div>
        <div class="item">
          <dt class="title">アニメーション</dt>
          <dd class="info">
            <p class="desc">ページ遷移やマウスオーバーなどの<br class="u-md:hidden" />演出の有無を設定します。</p>
            <ul class="input-list">
              <li class="radio">
                <ul class="radio-list">
                  <li class="radio-item">
                    <input id="input-anime-on" type="radio" name="anime" value="on" checked class="radio-btn" />
                    <label for="input-anime-on" class="radio-label">ON</label>
                  </li>
                  <li class="radio-item">
                    <input id="input-anime-off" type="radio" name="anime" value="off" class="radio-btn" />
                    <label for="input-anime-off" class="radio-label">OFF</label>
                  </li>
                </ul>
              </li>
            </ul>
          </dd>
        </div>
        <div class="item">
          <dt class="title">サウンド</dt>
          <dd class="info">
            <p class="desc">サイト内の音声を設定します。</p>
            <ul class="input-list">
              <li class="progress">
                <label for="input-sound-bgm" class="progress-label">BGM</label>
                <input type="range" id="input-sound-bgm" name="sound" min="0" max="1" step="0.1" class="progress-bar" />
                <button type="button" class="input-reset">初期化</button>
              </li>
              <li class="progress">
                <label for="input-sound-effect" class="progress-label">効果音</label>
                <input
                  type="range"
                  id="input-sound-effect"
                  name="sound"
                  min="0"
                  max="1"
                  step="0.1"
                  class="progress-bar"
                />
                <button type="button" class="input-reset">初期化</button>
              </li>
              <li class="checkbox">
                <input type="checkbox" id="input-sound-inactive" name="sound" value="inactive" class="checkbox-btn" />
                <label for="input-sound-inactive" class="checkbox-label"
                  >タブが非アクティブの場合は音声をOFFにする</label
                >
              </li>
            </ul>
          </dd>
        </div>
        <div class="item">
          <dt class="title">マウスカーソル</dt>
          <dd class="info">
            <p class="desc">マウスカーソルの速度やデザインを設定します。</p>
            <ul class="input-list">
              <li class="progress">
                <label for="input-mouse-speed" class="progress-label">速度</label>
                <input
                  type="range"
                  id="input-mouse-speed"
                  name="mouse-speed"
                  min="0"
                  max="1"
                  step="0.1"
                  class="progress-bar"
                />
                <button type="button" class="input-reset">初期化</button>
              </li>
              <li class="radio">
                <p class="radio-name">デザイン</p>
                <ul class="radio-list">
                  <li class="radio-item">
                    <input id="input-mouse-normal" type="radio" name="mouse" value="normal" checked class="radio-btn" />
                    <label for="input-mouse-normal" class="radio-label">通常</label>
                  </li>
                  <li class="radio-item">
                    <input id="input-mouse-custom" type="radio" name="mouse" value="custom" class="radio-btn" />
                    <label for="input-mouse-custom" class="radio-label">カスタム</label>
                  </li>
                </ul>
              </li>
            </ul>
          </dd>
        </div>
        <div class="item">
          <dt class="title">スクロール</dt>
          <dd class="info">
            <p class="desc">スクロールの速度を設定します。</p>
            <ul class="input-list">
              <li class="progress">
                <label for="input-scroll-speed" class="progress-label">速度</label>
                <input
                  type="range"
                  id="input-scroll-speed"
                  name="scroll-speed"
                  min="0"
                  max="1"
                  step="0.1"
                  class="progress-bar"
                />
                <button type="button" class="input-reset">初期化</button>
              </li>
            </ul>
          </dd>
        </div>
      </dl>
      <div class="bg">
        <picture>
          <source media={`(width >= 768px)`} srcset="/img/config/img_bg.svg" width="1100" height="536" />
          <img src="/img/config/img_bg_sp.svg" alt="" width="368" height="899" />
        </picture>
      </div>
    </div>
  </main>
  <PageFooter {...PageFooterData} />
</Layout>

<style>
  @import '@/styles/_mql.css';

  .p-config {
    position: relative;
    display: grid;
    place-items: center;

    &::before {
      position: absolute;
      inset: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      pointer-events: none;
      content: '';
      background-color: rgb(255 255 255 / 40%);
      backdrop-filter: blur(2px);
    }
  }

  .content {
    display: grid;
    grid-template-areas: 'item';
    width: calc(368 * var(--px));
    margin: calc(100 * var(--px)) 0 calc(80 * var(--px));

    @media (--mql-md) {
      width: calc(1100 * var(--px));
      margin: calc(74 * var(--px)) calc(64 * var(--px)) calc(44 * var(--px));
    }
  }

  .list {
    position: relative;
    z-index: 1;
    display: grid;
    grid-area: item;
    gap: calc(40 * var(--px));
    height: fit-content;
    padding: calc(32 * var(--px)) calc(20 * var(--px)) calc(56 * var(--px));

    @media (--mql-md) {
      grid-template-columns: repeat(2, 1fr);
      gap: calc(28 * var(--px)) calc(80 * var(--px));
      padding: calc(48 * var(--px)) calc(72 * var(--px));
    }
  }

  .title {
    font-family: var(--font-dela-gothic);
    font-size: calc(20 * var(--rem));

    @media (--mql-md) {
      font-size: calc(24 * var(--rem));
    }
  }

  .info {
    margin-top: calc(4 * var(--px));

    @media (--mql-md) {
      margin-top: calc(4 * var(--px));
    }
  }

  .desc {
    font-size: calc(12 * var(--rem));
    font-weight: 500;
  }

  .input-list {
    display: grid;
    row-gap: calc(14 * var(--px));
    margin-top: calc(16 * var(--px));

    @media (--mql-md) {
      row-gap: calc(16 * var(--px));
      margin-top: calc(18 * var(--px));
    }
  }

  .input-reset {
    padding: calc(4 * var(--px)) calc(16 * var(--px)) calc(3 * var(--px));
    font-size: calc(10 * var(--rem));
    font-weight: 500;
    background-color: var(--color-pure-white);
    border-radius: var(--infinity);

    @media (--mql-md) {
      padding: calc(6 * var(--px)) calc(16 * var(--px)) calc(5 * var(--px));
    }
  }

  .radio {
    display: flex;
    column-gap: calc(16 * var(--px));
    align-items: center;

    @media (--mql-md) {
      column-gap: calc(24 * var(--px));
    }
  }

  .radio-list {
    display: flex;
    flex-wrap: wrap;
    gap: calc(20 * var(--px));
    align-items: center;
  }

  .radio-item {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: calc(8 * var(--px));
    align-items: center;
  }

  .radio-btn {
    --_border-color: rgb(168 168 168 / 30%);

    position: relative;
    width: calc(20 * var(--px));
    aspect-ratio: 1;

    &:checked {
      --_border-color: var(--color-black);
      --_display-check: block;
    }

    &::before,
    &::after {
      position: absolute;
      inset: 0;
      aspect-ratio: 1;
      margin: auto;
      content: '';
      border-radius: var(--infinity);
    }

    &::before {
      width: 100%;
      background-color: var(--color-pure-white);
      border: 1px solid var(--_border-color);
    }

    &::after {
      display: var(--_display-check, none);
      width: calc(12 / 20 * 100%);
      background-color: var(--color-black);
    }
  }

  .radio-label {
    font-size: calc(14 * var(--rem));
    font-weight: 500;
  }

  .radio-name {
    font-family: var(--font-dela-gothic);
    font-size: calc(14 * var(--rem));

    @media (--mql-md) {
      font-size: calc(15 * var(--rem));
    }
  }

  .progress {
    display: flex;
    column-gap: calc(8 * var(--px));
    align-items: center;

    @media (--mql-md) {
      column-gap: calc(10 * var(--px));
    }
  }

  .progress-label {
    font-family: var(--font-dela-gothic);
    font-size: calc(14 * var(--rem));

    @media (--mql-md) {
      font-size: calc(15 * var(--rem));
    }
  }

  .progress-bar {
    width: calc(200 * var(--px));
    aspect-ratio: 200 / 22;
    margin-left: calc(2 * var(--px));
    border: 1px solid var(--color-pure-white);
    border-radius: var(--infinity);

    @media (--mql-md) {
      width: calc(280 * var(--px));
      aspect-ratio: 280 / 26;
    }

    &::-webkit-slider-thumb,
    &::-moz-range-thumb {
      width: calc(20 * var(--px));
      aspect-ratio: 1;
      background-color: var(--color-pure-white);
      border-radius: var(--infinity);

      @media (--mql-md) {
        width: calc(24 * var(--px));
      }
    }
  }

  .checkbox {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: calc(8 * var(--px));
    align-items: center;
  }

  .checkbox-btn {
    --_border-color: rgb(168 168 168 / 30%);

    width: calc(16 * var(--px));
    aspect-ratio: 1;
    background-color: var(--color-pure-white);
    border: 1px solid var(--_border-color);
  }

  .checkbox-label {
    font-size: calc(12 * var(--rem));
    font-weight: 500;
  }

  .bg {
    grid-area: item;
    pointer-events: none;

    @media (--mql-md) {
      width: calc(1100 * var(--px));
    }

    img {
      width: 100%;
    }
  }
</style>
