---
interface Props {
  id?: string;
  class?: string;
}

const {
  //
  class: className,
  ...props
} = Astro.props;
---

<time
  x-data="calendar"
  :datetime="datetime"
  class:list={[
    //
    'c-calendar',
    className,
  ]}
  {...props}
>
  <span class="upper">
    <span class="meridiem" x-text="meridiem">AM</span>
    <span class="time">
      <span class="hour" x-text="hour">12:00</span><span class="sec" x-text="sec">.00</span>
    </span>
  </span>
  <span class="lower">
    <span class="date" x-text="date"></span>
    <span class="week" x-text="week"></span>
  </span>
</time>

<style>
  @import '@/styles/_mql.css';

  .c-calendar {
    display: grid;
    row-gap: calc(4 * var(--px));
    font-family: var(--font-zen-dots);
    letter-spacing: 0.04em;
  }

  .upper {
    display: flex;
    column-gap: calc(4 * var(--px));
    align-items: flex-end;
    line-height: 1;

    @media (--mql-md) {
      column-gap: calc(6 * var(--px));
    }
  }

  .meridiem,
  .sec,
  .lower {
    font-size: calc(10 * var(--rem));

    @media (--mql-md) {
      font-size: calc(12 * var(--rem));
    }
  }

  .hour {
    font-size: calc(16 * var(--rem));

    @media (--mql-md) {
      font-size: calc(20 * var(--rem));
    }
  }

  .week {
    text-transform: uppercase;
  }
</style>
