---
interface Props {
  class?: string;
}

const {
  //
  class: className,
  ...props
} = Astro.props;
---

<time
  datetime="2026-02-20 12:00:00"
  class:list={[
    //
    'c-calendar',
    className,
  ]}
>
  <span class="upper">
    <span class="meridiem">AM</span>
    <span class="time">
      <span class="hour">12:00</span><span class="sec">.00</span>
    </span>
  </span>
  <span class="lower">
    <span class="date">02.20</span>
    <span class="week">Fri</span>
  </span>
</time>

<style>
  @import '@/styles/_mql.css';

  .c-calendar {
    --_container-w: var(--screens-xs);

    display: grid;
    row-gap: calc(4 / var(--_container-w) * 100cqi);
    font-family: var(--font-zen-dots);
    letter-spacing: 0.04em;

    @media (--mql-md) {
      --_container-w: var(--screens-xl);
    }
  }

  .upper {
    display: flex;
    align-items: flex-end;
    line-height: 1;

    @media (--mql-md) {
      column-gap: calc(4 / var(--_container-w) * 100cqi);
    }
  }

  .meridiem,
  .sec,
  .lower {
    --_fz: 10;

    font-size: calc(var(--_fz) / var(--_container-w) * 100cqi);

    @media (--mql-md) {
      --_fz: 12;
    }
  }

  .hour {
    --_fz: 16;

    font-size: calc(var(--_fz) / var(--_container-w) * 100cqi);

    @media (--mql-md) {
      --_fz: 20;
    }
  }
</style>
