---
interface Props {
  class?: string;
}

const {
  //
  class: className,
  ...props
} = Astro.props;
---

<time
  datetime="2026-02-20 12:00:00"
  class:list={[
    //
    'c-calendar',
    className,
  ]}
>
  <span class="upper">
    <span class="meridiem">AM</span>
    <span class="time">
      <span class="hour">12:00</span>
      <span class="sec">.00</span>
    </span>
  </span>
  <span class="lower">
    <span class="date">02.20</span>
    <span class="week">Fri</span>
  </span>
</time>

<style>
  @import '@/styles/_mql.css';

  .c-calendar {
    display: grid;
    font-family: var(--font-zen-dots);

    @media (--mql-md) {
      row-gap: calc(6 / var(--screens-xl) * 100cqi);
    }
  }

  .upper {
    display: flex;
    align-items: flex-end;
    line-height: 1;

    @media (--mql-md) {
      column-gap: calc(6 / var(--screens-xl) * 100cqi);
    }
  }

  .meridiem {
    @media (--mql-md) {
      font-size: calc(14 / var(--screens-xl) * 100cqi);
    }
  }

  .hour {
    @media (--mql-md) {
      font-size: calc(24 / var(--screens-xl) * 100cqi);
    }
  }

  .sec {
    @media (--mql-md) {
      font-size: calc(14 / var(--screens-xl) * 100cqi);
    }
  }

  .lower {
    @media (--mql-md) {
      font-size: calc(12 / var(--screens-xl) * 100cqi);
    }
  }
</style>
