---
interface Props {
  class?: string;
}

const {
  //
  class: className,
  ...props
} = Astro.props;
---

<time
  datetime="2026-02-20 12:00:00"
  class:list={[
    //
    'c-calendar',
    className,
  ]}
>
  <span class="upper">
    <span class="meridiem">AM</span>
    <span class="time">
      <span class="hour">12:00</span><span class="sec">.00</span>
    </span>
  </span>
  <span class="lower">
    <span class="date">02.20</span>
    <span class="week">Fri</span>
  </span>
</time>

<style>
  @import '@/styles/_mql.css';

  .c-calendar {
    display: grid;
    row-gap: calc(4 * var(--px));
    font-family: var(--font-zen-dots);
    letter-spacing: 0.04em;
  }

  .upper {
    display: flex;
    align-items: flex-end;
    line-height: 1;

    @media (--mql-md) {
      column-gap: calc(4 * var(--px));
    }
  }

  .meridiem,
  .sec,
  .lower {
    font-size: calc(10 * var(--rem));

    @media (--mql-md) {
      font-size: calc(12 * var(--rem));
    }
  }

  .hour {
    font-size: calc(16 * var(--rem));

    @media (--mql-md) {
      font-size: calc(20 * var(--rem));
    }
  }
</style>
