---
interface Props {
  class?: string;
}

const {
  //
  class: className,
} = Astro.props;
---

<div role="img" aria-hidden="true" class:list={['c-deco', className]}>
  <slot />
</div>

<style>
  @import '@/styles/_mql.css';

  .c-deco {
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: calc(520 * var(--px));
    pointer-events: none;

    @media (--mql-md) {
      margin: auto;
    }

    &::before,
    &::after {
      position: absolute;
      height: calc(720 * var(--px));
      content: '';
    }

    &::before {
      --_w: 377;
      --_h: 439;

      top: calc(95 * var(--px));
      left: 0;
      width: calc(var(--_w) * var(--px));
      height: calc(var(--_h) * var(--px));
      background-color: var(--color-neon-blue);
      opacity: 0.4;
      clip-path: polygon(
        0 calc(84 / var(--_h) * 100%),
        100% 0%,
        calc(244 / var(--_w) * 100%) calc(357 / var(--_h) * 100%),
        0% 100%
      );

      @media (--mql-md) {
        --_w: 869;
        --_h: 625;

        /* top: calc(69 * var(--px)); */
        top: calc(-12 * var(--px));
        clip-path: polygon(
          0 calc(132 / var(--_h) * 100%),
          100% 0%,
          calc(580 / var(--_w) * 100%) calc(508 / var(--_h) * 100%),
          0% 100%
        );
      }
    }

    &::after {
      --_w: 156;
      --_h: 520;

      top: calc(31 * var(--px));
      right: 0;
      width: calc(var(--_w) * var(--px));
      height: calc(var(--_h) * var(--px));
      background-color: var(--color-pastel-pink);
      opacity: 0.2;
      clip-path: polygon(100% 0, 0 calc(420 / var(--_h) * 100%), 100% 100%);

      @media (--mql-md) {
        --_w: 700;
        --_h: 1915;

        /* top: calc(-653 * var(--px)); */
        top: calc(-734 * var(--px));
        clip-path: polygon(100% 0, 0 calc(1230 / var(--_h) * 100%), 100% 100%);
      }
    }
  }
</style>
