---
interface Props {
  class?: string;
  title: string;
}

const {
  //
  class: className,
  title,
  ...props
} = Astro.props;
---

<button
  type="button"
  aria-label={title}
  class:list={[
    //
    'c-menu-toggle',
    className,
  ]}
  {...props}
>
  <span class="icon">
    <span class="line"></span>
  </span>
</button>

<style>
  @import '@/styles/_mql.css';

  .c-menu-toggle {
    --_w: 70;
    --_h: 49;

    display: grid;
    place-items: center;
    width: calc(var(--_w) * var(--px));
    aspect-ratio: 10 / 7;
    color: var(--_toggle-color, var(--color-pure-white));
    background-color: var(--_toggle-bg, var(--color-black));
    clip-path: polygon(0 0, 100% 0, 100% 100%, calc(40 / var(--_w) * 100%) 100%, 0 calc(20 / var(--_h) * 100%));

    @media (--mql-md) {
      --_w: 80;
      --_h: 56;

      clip-path: polygon(0 0, 100% 0, 100% 100%, calc(44 / var(--_w) * 100%) 100%, 0 calc(28 / var(--_h) * 100%));
    }

    &[aria-expanded='true'] {
      .icon {
        --_left: 0;

        .line {
          /* opacity: 0; */
          --_w: 34;

          @media (--mql-md) {
            --_w: 38;
          }
        }

        &::before,
        &::after {
          /* width: calc(38 * var(--px));
          translate: 0 0; */
          opacity: 0;
        }
      }
    }
  }

  .icon {
    --_top: -6;
    --_left: 3;

    display: grid;
    grid-template-areas: 'line';
    margin-top: calc(var(--_top) * var(--px));
    margin-left: calc(var(--_left) * var(--px));

    @media (--mql-md) {
      --_top: -6;
      --_left: 3;
    }

    &::before,
    &::after {
      content: '';
    }

    &::before,
    &::after,
    .line {
      --_h: 2;

      grid-area: line;
      width: calc(var(--_w) * var(--px));
      height: calc(var(--_h) * var(--px));
      margin-left: auto;
      background-color: currentColor;
      border-radius: var(--infinity);
      translate: 0 calc(var(--_y, 0) * var(--px));

      @media (--mql-md) {
        --_h: 3;
      }
    }

    .line {
      /* --_w: 26; */
      --_w: 32;

      @media (--mql-md) {
        --_w: 36;
      }
    }

    &::before {
      /* --_w: 36; */
      --_w: 42;
      --_y: -7;

      @media (--mql-md) {
        --_w: 46;
        --_y: -9;
      }
    }

    &::after {
      /* --_w: 14; */
      --_w: 20;
      --_y: 7;

      @media (--mql-md) {
        --_w: 20;
        --_y: 9;
      }
    }
  }
</style>
