---
import AstroLink from '@/components/helper/AstroLink.astro';

interface Props {
  class?: string;
  description: string;
  nav?: {
    text: string;
    href: string;
    target?: '_blank' | '_self';
  }[];
}

const {
  //
  class: className,
  description,
  nav,
  ...props
} = Astro.props;
---

<footer
  class:list={[
    //
    'c-pagenav',
    className,
  ]}
>
  <p class="desc">{description}</p>
  {
    nav?.map((item) => (
      <AstroLink href={item.href} target={item.target ?? undefined} class="link">
        {item.text}
      </AstroLink>
    ))
  }
</footer>
