---
import AstroLink from '@/components/helper/AstroLink.astro';

interface Props {
  class?: string;
  description: string;
  nav?: {
    text: string;
    href: string;
    target?: string;
  }[];
}

const {
  //
  class: className,
  description,
  nav,
  ...props
} = Astro.props;
---

<footer
  class:list={[
    //
    'c-page-footer',
    className,
  ]}
>
  <p class="desc" set:html={description} />
  {
    nav?.map((item) => (
      <AstroLink href={item.href} target={item.target ?? undefined} class="link">
        <span class="link-text">{item.text}</span>
      </AstroLink>
    ))
  }
</footer>

<style>
  @import '@/styles/_mql.css';

  .c-page-footer {
    --_link-w: 130;

    position: relative;
    z-index: calc(var(--z-header) - 1);
    display: grid;
    grid-template-areas: 'link-1 link-2';
    grid-template-columns: repeat(2, calc(var(--_link-w) * var(--px)));
    align-items: center;
    justify-content: space-between;
    padding: 0 calc(12 * var(--px)) calc(32 * var(--px));

    @media (--mql-md) {
      --_link-w: 140;

      position: sticky;
      bottom: 0;
      display: block;
      padding: 0;
      background-color: var(--color-main-blue);
    }

    &::after {
      @media (--mql-md) {
        --_size: calc(4 * var(--px));
        --_gap: calc(10 * var(--px));

        position: absolute;
        inset: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        pointer-events: none;
        content: '';
        background-image: radial-gradient(
          circle,
          var(--color-sub-blue) calc(var(--_size) / 2),
          transparent calc(var(--_size) / 2)
        );
        background-position: 0 0;
        background-size: calc(var(--_size) + var(--_gap)) calc(var(--_size) + var(--_gap));
        opacity: 0.6;
      }
    }
  }

  .desc {
    display: none;

    @media (--mql-md) {
      --_clip: calc(20 / 600 * 100%);

      display: block;
      width: calc(600 * var(--px));
      padding: calc(10 * var(--px)) calc(16 * var(--px)) calc(12 * var(--px));
      margin-right: auto;
      margin-left: auto;
      font-size: calc(12 * var(--rem));
      font-weight: 500;
      color: var(--color-black);
      text-align: center;
      background-color: var(--color-pure-white);
      clip-path: polygon(var(--_clip) 0%, 100% 0%, calc(100% - var(--_clip)) 100%, 0% 100%);
    }
  }

  .link {
    --_clip: calc(7 / 80 * 100%);
    --_clip-path: polygon(var(--_clip) 0%, 100% 0%, calc(100% - var(--_clip)) 100%, 0% 100%);

    position: relative;
    display: grid;
    place-items: center;
    width: calc(var(--_link-w) * var(--px));
    padding: calc(7 * var(--px)) calc(12 * var(--px));
    font-family: var(--font-dela-gothic);
    font-size: calc(12 * var(--rem));
    color: var(--color-black);

    @media (--mql-md) {
      --_clip: calc(12 / 140 * 100%);

      position: absolute;
      top: calc(-12 * var(--px));
      padding: calc(8 * var(--px)) calc(16 * var(--px));
      font-size: calc(13 * var(--rem));
    }

    @media (any-hover: hover) {
      &:hover {
        &::after {
          background-color: var(--color-golden-yellow);
        }
      }
    }

    &:first-of-type {
      @media (--mql-md) {
        left: calc(32 * var(--px));
      }
    }

    &:last-of-type {
      @media (--mql-md) {
        right: calc(32 * var(--px));
      }
    }

    &::before,
    &::after {
      position: absolute;
      width: 100%;
      height: 100%;
      pointer-events: none;
      content: '';
      clip-path: var(--_clip-path);
    }

    &::after {
      inset: 0;
      background-color: var(--color-sub-pink);
    }

    &::before {
      top: calc(2 * var(--px));
      right: calc(-2 * var(--px));
      background-color: var(--color-black);

      @media (--mql-md) {
        top: calc(4 * var(--px));
        right: calc(-4 * var(--px));
      }
    }
  }

  .link-text {
    position: relative;
    z-index: 1;
  }
</style>
