---
interface Props {
  class?: string;
  tag?: 'h1' | 'h2' | 'h3';
  title: {
    ja: string;
    en: string;
  };
}

const {
  //
  class: className,
  tag = 'h1',
  title,
  ...props
} = Astro.props;

const TagName = tag;
---

<header
  class:list={[
    //
    'c-pagehdg',
    className,
  ]}
>
  <div class="text">
    <TagName class="ja">{title.ja}</TagName>
    <div aria-hidden="true" class="en">{title.en}</div>
  </div>
</header>

<style>
  @import '@/styles/_mql.css';

  .c-pagehdg {
    --_w: 330;

    position: absolute;
    top: 0;
    left: 0;
    z-index: calc(var(--z-header) - 1);
    width: calc(var(--_w) * var(--px));
    padding: calc(12 * var(--px)) calc(12 * var(--px)) calc(32 * var(--px));
    color: var(--color-main);
    letter-spacing: 0.04em;
    background-color: var(--color-sub);
    clip-path: polygon(0 0, 0% 100%, 100% 0);

    @media (--mql-md) {
      --_w: 664;

      aspect-ratio: 664 / 74;
      padding: calc(14 * var(--px)) calc(32 * var(--px));
    }

    .text {
      position: relative;
      top: calc(14 * var(--px));
      display: flex;
      column-gap: calc(8 * var(--px));
      align-items: flex-end;
      width: max-content;
      line-height: 1;
      transform: skewX(-10deg);
      transform-origin: left top;
      rotate: -10deg;

      @media (--mql-md) {
        top: calc(12 * var(--px));
        column-gap: calc(12 * var(--px));
        transform: skewX(-6deg);
        rotate: -6deg;
      }
    }

    .ja {
      font-family: var(--font-dela-gothic);
      font-size: calc(20 * var(--rem));

      @media (--mql-md) {
        font-size: calc(28 * var(--rem));
      }
    }

    .en {
      font-family: var(--font-zen-dots);
      font-size: calc(10 * var(--rem));

      @media (--mql-md) {
        font-size: calc(12 * var(--rem));
      }
    }
  }
</style>
