---
import SplitText from '@/components/helper/SplitText.astro';

interface Props {
  class?: string;
  tag?: 'h1' | 'h2' | 'h3';
  title: {
    ja: string;
    en: string;
  };
}

const {
  //
  class: className,
  tag = 'h1',
  title,
  ...props
} = Astro.props;

const TagName = tag;
---

<header
  x-data="inview"
  x-bind="bindTarget"
  class:list={[
    //
    'c-pagehdg',
    className,
  ]}
>
  <div class="col">
    <div class="ja">
      <TagName class="u-sr-only">{title.ja}</TagName>
      <SplitText text={title.ja} aria-hidden="true" class="split" />
    </div>
    <div aria-hidden="true" class="en">
      <SplitText text={title.en} class="split" />
    </div>
  </div>
</header>

<style>
  @import '@/styles/_mql.css';

  .c-pagehdg {
    --_w: 330;

    position: absolute;
    top: 0;
    left: 0;
    z-index: calc(var(--z-header) - 1);
    width: calc(var(--_w) * var(--px));
    padding: calc(12 * var(--px)) calc(12 * var(--px)) calc(32 * var(--px));
    color: var(--color-main);
    letter-spacing: 0.04em;
    background-color: var(--color-sub);
    clip-path: polygon(0 0, 0% 100%, 100% 0);

    @media (--mql-md) {
      --_w: 664;

      aspect-ratio: 664 / 74;
      padding: calc(14 * var(--px)) calc(32 * var(--px));
    }

    @media (scripting: enabled) {
      translate: 0 -20%;
      transition: translate 0.25s var(--ease-out-cubic);

      &[data-inview='true'] {
        translate: 0 0;

        .split {
          translate: 0 0;
        }
      }
    }

    .col {
      position: relative;
      top: calc(14 * var(--px));
      display: flex;
      column-gap: calc(8 * var(--px));
      align-items: flex-end;
      width: max-content;
      line-height: 1;
      transform: skewX(-10deg);
      transform-origin: left top;
      rotate: -10deg;

      @media (--mql-md) {
        top: calc(12 * var(--px));
        column-gap: calc(12 * var(--px));
        transform: skewX(-6deg);
        rotate: -6deg;
      }
    }

    .ja {
      overflow: hidden;
      font-family: var(--font-dela-gothic);
      font-size: calc(20 * var(--rem));

      @media (--mql-md) {
        font-size: calc(28 * var(--rem));
      }
    }

    .en {
      overflow: hidden;
      font-family: var(--font-zen-dots);
      font-size: calc(10 * var(--rem));

      @media (--mql-md) {
        font-size: calc(12 * var(--rem));
      }
    }

    .split {
      display: inline-block;
      transition: translate 0.4s var(--ease-overshoot-out-dramatic) calc(var(--index) * 0.06s);

      @media (scripting: enabled) {
        translate: 0 -100%;
      }
    }
  }
</style>
