---
import { Icon } from 'astro-icon/components';
import AstroLink from '@/components/helper/AstroLink.astro';
import Calendar from '@/components/ui/Calendar.astro';
import siteNav from '@/data/siteNav';
import snsNav from '@/data/snsNav';

interface Props {
  class?: string;
}

const {
  //
  class: className,
  ...props
} = Astro.props;
---

<header
  id="header"
  class:list={[
    //
    'l-header',
  ]}
>
  <nav class="nav" aria-label="グローバルナビゲーション">
    <button
      type="button"
      aria-label="全てのメニューを開く"
      aria-expanded="false"
      class:list={[
        //
        'open',
      ]}
    >
      <span class="icon">
        <span class="line"></span>
      </span>
    </button>
    <dialog
      autofocus
      aria-label="全てのメニュー"
      data-lenis-prevent
      class:list={[
        //
        'menu',
      ]}
    >
      <button
        type="button"
        aria-label="全てのメニューを閉じる"
        aria-expanded="false"
        class:list={[
          //
          'close',
        ]}></button>
      <Calendar class="calendar" />
      <ul class="list">
        {
          siteNav.map((item) => (
            <li class="item">
              <AstroLink href={item.href.url} target={item.href.target ?? undefined} class="link">
                {item.title.ja}
              </AstroLink>
            </li>
          ))
        }
      </ul>
      <div class="lower">
        <div class="sns">
          {
            snsNav.map((item) => (
              <AstroLink href={item.href} target="_blank" class="link">
                <Icon name={`icon_${item.id}`} />
              </AstroLink>
            ))
          }
        </div>
        <AstroLink href="/" class="home">
          <Icon name="logo_site" role="img" aria-label="ホームに戻る" width={300} height={60} class="logo" />
        </AstroLink>
      </div>
    </dialog>
  </nav>
</header>

<style>
  @import '@/styles/_mql.css';

  .l-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-header);
    width: 100%;
  }

  .open {
    display: grid;
    place-items: center;
    margin-left: auto;
    color: var(--color-pure-white);
    background-color: var(--color-black);

    @media (--mql-md) {
      width: calc(84 / var(--screens-xl) * 100cqi);
      aspect-ratio: 21 / 20;
      clip-path: polygon(0 0, 100% 0, 100% 100%, calc(43 / 84 * 100%) 100%, 0 calc(42 / 80 * 100%));
    }

    .icon {
      display: grid;
      grid-template-areas: 'line';

      @media (--mql-md) {
        margin-top: calc(-6 / var(--screens-xl) * 100cqi);
        margin-left: calc(3 / var(--screens-xl) * 100cqi);
      }

      &::before,
      &::after {
        content: '';
      }

      &::before,
      &::after,
      .line {
        grid-area: line;
        margin-left: auto;
        background-color: currentColor;

        @media (--mql-md) {
          --_h: 3;

          height: calc(var(--_h) / var(--screens-xl) * 100cqi);
        }
      }

      &::before {
        @media (--mql-md) {
          aspect-ratio: 38 / var(--_h);
          translate: 0 calc(-12 / var(--screens-xl) * 100cqi);
        }
      }

      &::after {
        @media (--mql-md) {
          aspect-ratio: 16 / var(--_h);
          translate: 0 calc(12 / var(--screens-xl) * 100cqi);
        }
      }

      .line {
        @media (--mql-md) {
          aspect-ratio: 28 / var(--_h);
        }
      }
    }
  }
</style>
